:root {
    --d-blue-100: #609ED4;
    --d-blue-200: #356EA9;
    --d-blue-300: #0A3871;
    --d-blue-400: #072B61;
    --d-blue-500: #052051;

    --l-blue-100: #F3F5FC;
    --l-blue-200: #EFF1FA;
    --l-blue-300: #E9ECF8;
    --l-blue-400: #AAB2D5;
    --l-blue-500: #757FB2;

    --gray-100: #CED4DA;
    --gray-200: #ADB5BD;
    --gray-300: #868E96;
    --gray-400: #495057;
    --gray-500: #343A40;
}


body {
    background-color: var(--l-blue-200);
    font-family: 'Inter', sans-serif;
}

header {
    margin-left: 2em;
}

main {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    height: 70%;
}

.img-logo{
    filter:brightness(1.1);
    mix-blend-mode: multiply;

}

/* Input */
.sec-input {
    width: 60%;
    margin-left: 10%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.sec-input textarea {
    max-width: 900px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    line-height: 1.6em;
    color: var(--d-blue-300);
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
}

.sec-input textarea::placeholder {
    color: var(--d-blue-300);
    margin: 1em;
}


.sec-input textarea.alert-actived {
    border: red solid 3px;
    border-radius: 0.8em;
}


.btn-contenedor p {
    color: var(--gray-500);
    font-size: 0.6em;
    vertical-align: top;
}

.material-symbols-outlined {
    font-size: 1.5em;
}

/* btn */
.btn {
    padding: 1.2em 6.5em;
    border-radius: 0.9rem;
    font-size: 0.8em;
    cursor: pointer;
}

.btn-dark {
    color: #fff;
    background-color: var(--d-blue-300);
    border: 2px solid var(--d-blue-300);
    transition: all 0.8s;
}

.btn-dark:hover {
    opacity: 0.8;
}

.btn-ligth {
    color: var(--d-blue-300);
    background-color: transparent;
    border: 2px solid var(--d-blue-300);
    transition: all 0.8s;
}

.btn-ligth:hover {
    color: #fff;
    background-color: var(--d-blue-300);
    opacity: 0.8;
}


/* output */
.sec-respuesta {
    background-color: #fff;
    padding: 6em 2.5em;
    margin: 0 auto;
    border-radius: 32px;
    text-align: center;
    max-width: 280px;
    margin-top: 30px;
    box-shadow: 0px 12px 72px -14px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 0px 12px 72px -14px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0px 12px 72px -14px rgba(0, 0, 0, 0.28);
}

.sec-respuesta .img-muneco {
    width: 90%;
}


.sec-respuesta h2 {
    line-height: 30px;
}

.sec-respuesta>p {
    font-size: 0.8em;
    line-height: 18px;
}

.sec-respuesta #txt-output {
    display: none;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    line-height: 1.4em;
    color: var(--gray-400);
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    height: 400px;
}


.sec-respuesta .respuesta-ed {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}

.sec-ed {

    padding: 2.3em 2.5em;
    height: 66vh;
}


#btn-copiar {
    display: none;
}


footer {
    padding-top: 1em;
    text-align: center;
    color: var(--gray-300);
    font-size: 0.6em;
}

/* Versión para tablet */

@media screen and (max-width: 992px) {

    main {
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .sec-input {
        margin: 0;
        width: 80%;
    }

    .sec-input textarea {
        max-width: 100%;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 1.1em;
        line-height: 1.6em;
        color: var(--d-blue-300);
        background-color: transparent;
        border: none;
        outline: none;
        resize: none;
    }

    .btn {
        padding: 1.5em 9em;
        border-radius: 0.9rem;
        font-size: 0.8em;
    }

    .btn-contenedor__encriptar {
        display: flex;
        justify-content: space-between;
    }

    .sec-respuesta {
        max-width: 992px;
        width: 70%;
        margin: 0;
        background-color: #fff;
        padding: 1em 3em;
    }

    .sec-respuesta img {
        display: none;
    }

}

@media screen and (max-width: 768px) {
    .btn {
        padding: 1.3em 6em;
        border-radius: 0.9rem;
        font-size: 0.8em;
    }
}


/* Versiom mobile */

@media screen and (max-width: 576px) {
    body {
        overflow-x: hidden;
    }

    header {
        margin-left: 1.5em;
        margin-bottom: 4em;
    }

    main {
        display: relative;
        margin: 0 auto;
        height: auto;
    }

    .sec-input {
        margin: 0;
        width: 90%;
    }

    .btn {
        padding: 1em 3.7em;
        border-radius: 0.9rem;
        font-size: 0.8em;
    }

    .sec-respuesta {
        max-width: 576px;
        width: 65%;
        margin: 0;
        background-color: #fff;
        padding: 1em 3em;
    }
}
